In [1]:
import json
import pandas as pd

In [2]:
# Load the JSON file
with open('disease.json') as f:
    data = json.load(f)

# Check the number of data points
num_data_points = len(data)
print(f'The number of data points in the JSON file is: {num_data_points}')

The number of data points in the JSON file is: 380183

In [3]:
disease_df= pd.read_json('disease.json')
disease_df.head(5)

,_id,YearEnd,LocationAbbr,LocationDesc,GeoLocation,CDI_DataValue,CDI_Question,CDI_Topic,DataValueUnit,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit
0,{'$oid': '6798573078d7213c57618407'},2014,AL,Alabama,POINT (-86.63186076199969 32.84057112200048),22.0,Asthma mortality rate,Asthma,NaN,NaN,NaN,NaN
1,{'$oid': '6798573078d7213c57618408'},2015,ID,Idaho,POINT (-114.3637300419997 43.682630005000476),21.0,Asthma mortality rate,Asthma,NaN,NaN,NaN,NaN
2,{'$oid': '6798573078d7213c57618409'},2016,ID,Idaho,POINT (-114.3637300419997 43.682630005000476),21.0,Asthma mortality rate,Asthma,NaN,NaN,NaN,NaN
3,{'$oid': '6798573078d7213c5761840a'},2020,IL,Illinois,POINT (-88.99771017799969 40.48501028300046),89.0,Asthma mortality rate,Asthma,Number,NaN,NaN,NaN
4,{'$oid': '6798573078d7213c5761840b'},2012,KS,Kansas,POINT (-98.20078122699965 38.34774030000045),24.0,Asthma mortality rate,Asthma,NaN,NaN,NaN,NaN

In [4]:
state_counts= disease_df['LocationDesc'].value_counts()
state_counts

LocationDesc
Alabama                 7671
Colorado                7671
Oklahoma                7671
Minnesota               7671
Missouri                7671
Florida                 7671
Michigan                7671
Arizona                 7671
Ohio                    7671
California              7671
Nevada                  7671
Oregon                  7671
New York                7671
New Mexico              7671
Kansas                  7671
Louisiana               7671
North Carolina          7671
Mississippi             7671
Nebraska                7668
Massachusetts           7668
Arkansas                7668
Iowa                    7665
Idaho                   7665
Maryland                7665
Indiana                 7665
Connecticut             7665
New Jersey              7665
Pennsylvania            7665
Georgia                 7665
Alaska                  7665
Illinois                7665
Kentucky                7665
Hawaii                  7662
Rhode Island            7662
Delaware                7659
District of Columbia    7659
Montana                 7656
North Dakota            7653
Maine                   7650
New Hampshire           7647
South Carolina          7491
South Dakota            6462
Texas                   5805
Tennessee               5796
Utah                    5794
Wisconsin               5794
Virginia                5794
Washington              5793
West Virginia           5778
Wyoming                 5775
Vermont                 5770
United States           3485
Guam                    1959
Puerto Rico             1959
Virgin Islands            83
Name: count, dtype: int64

In [5]:
disease_counts = disease_df.groupby(['LocationDesc', 'CDI_Topic']).size().reset_index(name='Count')
disease_counts

    LocationDesc                                        CDI_Topic  Count
0        Alabama                                        Arthritis    704
1        Alabama                                           Asthma    482
2        Alabama                                           Cancer   3072
3        Alabama                           Cardiovascular Disease   1296
4        Alabama                           Chronic Kidney Disease    240
..           ...                                              ...    ...
473      Wyoming                           Chronic Kidney Disease    240
474      Wyoming            Chronic Obstructive Pulmonary Disease    480
475      Wyoming                                         Diabetes    477
476      Wyoming  Nutrition, Physical Activity, and Weight Status     49
477      Wyoming                                          Tobacco     32

[478 rows x 3 columns]

In [6]:
al_counts = disease_counts.loc[disease_counts['LocationDesc'] == 'Alabama']
al_counts

  LocationDesc                                        CDI_Topic  Count
0      Alabama                                        Arthritis    704
1      Alabama                                           Asthma    482
2      Alabama                                           Cancer   3072
3      Alabama                           Cardiovascular Disease   1296
4      Alabama                           Chronic Kidney Disease    240
5      Alabama            Chronic Obstructive Pulmonary Disease    480
6      Alabama                                         Diabetes    480
7      Alabama  Nutrition, Physical Activity, and Weight Status    643
8      Alabama                                          Tobacco    274

In [11]:
# Calculate the total counts for Alabama
total_counts = al_counts['Count'].sum()

# Calculate the percentage for each disease using .loc
al_counts.loc[:, 'Percentage'] = (al_counts['Count'] / total_counts) * 100

# Round the Percentage to 2 decimal points
al_counts.loc[:,'Percentage'] = al_counts['Percentage'].round(2)

# Display the updated DataFrame with percentages
print(al_counts)

  LocationDesc                                        CDI_Topic  Count  \
0      Alabama                                        Arthritis    704
1      Alabama                                           Asthma    482
2      Alabama                                           Cancer   3072
3      Alabama                           Cardiovascular Disease   1296
4      Alabama                           Chronic Kidney Disease    240
5      Alabama            Chronic Obstructive Pulmonary Disease    480
6      Alabama                                         Diabetes    480
7      Alabama  Nutrition, Physical Activity, and Weight Status    643
8      Alabama                                          Tobacco    274

   Percentage
0        9.18
1        6.28
2       40.05
3       16.89
4        3.13
5        6.26
6        6.26
7        8.38
8        3.57

In [12]:
al_diseases = al_counts.sort_values(by='Count', ascending=False).head(3)
al_diseases

  LocationDesc               CDI_Topic  Count  Percentage
2      Alabama                  Cancer   3072       40.05
3      Alabama  Cardiovascular Disease   1296       16.89
0      Alabama               Arthritis    704        9.18

In [22]:
disease_counts = disease_df.groupby(['LocationDesc', 'CDI_Topic']).size().reset_index(name='Count')

# Export to JSON file
disease_counts.to_json('disease_counts.json', orient='records', lines=True)